#roomList
{
	position: relative;
	float:left;
	width: 800px;
	height: 600px;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center
}

.room
{
	position: relative;
	float: left;
	width: 80%;
	height: 150px;
	text-align: center;
	margin-top: 3%;
	margin-left: 10%;
	margin-right: 9%;
	border-style: solid;
	border-width: 2px;
	border-color: Gray
}

#photo
{
    width: 210px;
	height: 140px;
	position: relative;
	float: left;
	background-image: url(../Content/images/RoomsPicture/1-1min.jpg);
	margin-top: 5px;
	margin-left: 5px;
	text-align: center
	
}

#room_info
{
	position: relative;
	float: left;
	margin-left: 355px;
	margin-top: -85px;
	text-align: center
}